* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
 }

.card-mobile {
    background: linear-gradient(to bottom right, #49521b,#19250f);
    border-radius: 5%;
    ;
    position:relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    height: 100%;
    padding: 6%;
    display:flex;
    flex-direction: column;
}
.card-tablet{
    display: none;
}

.card-desktop{
    display:none;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first{
    text-decoration: none;
    color:#b9d91a;
}

#first:active{
    color:#d5ff01;
}
#first:hover {
    color:aliceblue;
}
#first:visited{
    color:#9c351b;
}


#second {
    text-decoration: none;
    color:#e1db5f;
}
#second:active{
    color: #fff987;
}
#second:hover{
    color:#fff42a;
}
#second:visited{
    color:#895200;
}

.photo {
    height:6.25rem;
    width: 6.25rem;
    background-image: url(./image/Misha-green.jpg);
    background-size: cover;
    background-position: center;
    /* position:absolute; */
    border-radius: 50%;
    ;
    display: flex;
    justify-content: flex-start;
    
}

h1{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    font-weight: 37.5rem;
    color:rgb(152, 160, 101);
    text-align: end;
    ;
    margin: 0;
    /* display:flex;
    justify-content: flex-start; */
}

p{
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    font-weight: 25rem;
    color:rgb(152, 160, 101);
    ;
}


@media only screen and (min-width: 28rem) and (max-width:47.5rem){
    * {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 10%;
     }

     
    
    .card-tablet {
        background: linear-gradient(to bottom right, #49521b,#19250f);
        border-radius: 5%;
        ;
        position:relative;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
        height: auto;
        width:100%;
        padding: 6%;
        display: flex;
        flex-direction: column;
    
    }

    .card-desktop{
        display:none;
    }

    .card-mobile{
        display: none;
    }

    #name {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
    }
    
    #first{
        text-decoration: none;
        color:#b9d91a;
    }
    
    #first:active{
        color:#d5ff01;
    }
    #first:hover {
        color:aliceblue;
    }
    #first:visited{
        color:#9c351b;
    }
    
    
    #second {
        text-decoration: none;
        color:#e1db5f;
    }
    #second:active{
        color: #fff987;
    }
    #second:hover{
        color:#fff42a;
    }
    #second:visited{
        color:#895200;
    }
    
    .photo {
        height: 10rem;
        width: 10rem;
        background-image: url(./image/Misha-green.jpg);
        background-size: cover;
        background-position: center;
        position:absolute;
        top:-1.60rem;
        left:-1.60rem;
        border-radius: 50%;
        ;
        display: flex;
        justify-content: flex-start;
        
    }
    
    h1{
        font-family: 'DM Serif Display', serif;
        font-size: 3rem;
        font-weight: 37.5rem;
        color:rgb(152, 160, 101);
        text-align: end;
        ;
        margin: 0;
        display:flex;
        justify-content: flex-end;
    }
    
    p{
        font-family: 'DM Serif Display', serif;
        font-size: 1.8rem;
        font-weight: 25rem;
        color:rgb(152, 160, 101);
        ;
    }
}



@media only screen and (min-width:47.6rem) {
    * {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 10%;
        margin:0;
     }
    
    .card-desktop {
        background: linear-gradient(to bottom right, #49521b,#19250f);
        border-radius: 5%;
        position:relative;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        height: 100%;
        padding: 6%;
        display:flex;
        flex-direction: column;
    }
    .card-tablet{
        display: none;
    }
    .card-mobile{
        display:none;
    }
    
    #name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #first{
        text-decoration: none;
        color:#b9d91a;
    }
    
    #first:active{
        color:#d5ff01;
    }
    #first:hover {
        color:aliceblue;
    }
    #first:visited{
        color:#9c351b;
    }
    
    
    #second {
        text-decoration: none;
        color:#e1db5f;
    }
    #second:active{
        color: #fff987;
    }
    #second:hover{
        color:#fff42a;
    }
    #second:visited{
        color:#895200;
    }
    
    .photo {
        height:15rem;
        width: 15rem;
        background-image: url(./image/Misha-green.jpg);
        background-size: cover;
        background-position: center;
        position:absolute;
        top: 1rem;
        margin: 1rem 0;
        border-radius: 50%;
        ;
        display: flex;
        justify-content: flex-start;
        
    }
    
    h1{
        font-family: 'DM Serif Display', serif;
        font-size: 4rem;
        font-weight: 37.5rem;
        color:rgb(152, 160, 101);
        text-align: end;
        ;
        margin: 0;
        letter-spacing: 0.2rem;
    }
    
    p{
        font-family: 'DM Serif Display', serif;
        font-size: 2rem;
        font-weight: 25rem;
        color:rgb(152, 160, 101);
    }
}