.card {
    background: linear-gradient(to bottom right, #49521b,#19250f);
    border-radius: 10%;
    border: 1px solid red;
    /* position:relative; */
    height: auto;
    width:100%;
    padding: 1%;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    /* position: absolute; */
    border: 1px solid red;
}

p, h1{
    border: 1px solid red;
}


h1{
    font-family: 'DM Serif Display', serif;
    font-weight: 600px;
    color:rgb(152, 160, 101);
}

p{
    font-family: 'DM Serif Display', serif;
    font: weight 400px;
    color:rgb(152, 160, 101);
}