* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
 }

.card-mobile {
    background: linear-gradient(to bottom right, #7CAFE5,#723C99);
    border-radius: 5%;
    position:relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    height: 100%;
    padding: 6%;
    display:flex;
    flex-direction: column;
}
.card-tablet{
    display: none;
}

.card-desktop{
    display:none;
}

 #introduction {
    margin-top: 5rem;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first{
    text-decoration: none;
    color:#e1be5f;
}

a #first:visited{
    color:#bd563c;
}

#second {
    text-decoration: none;
    color:#e1be5f;
}

a #second:visited{
    color:#bd563c;
}

.photo {
    height:6.25rem;
    width: 6.25rem;
    background-image: url(./image/Misha-green.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    -webkit-transition: all 1s 0.1s ease-in;
}
.photo:hover{
    -webkit-transform: rotate(360deg);
    border: 0.5rem solid rgba(0, 0, 0, 0.289) ;
}

h1{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    font-weight: 37.5rem;
    color:rgba(226, 232, 147, 0.914);
    text-align: end;
    margin: 0;
}

p{
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    font-weight: 25rem;
    color:rgba(226, 232, 147, 0.914);
}


@media only screen and (min-width: 28rem) and (max-width:47.5rem){
   
    .card-tablet {
        background: linear-gradient(to bottom right, #7CAFE5,#723C99);
        border-radius: 5%;
        position:relative;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
        height: auto;
        width:100%;
        padding: 6%;
        display: flex;
        flex-direction: column;
    }

    .card-desktop{
        display:none;
    }

    .card-mobile{
        display: none;
    }
    
    .photo {
        height: 10rem;
        width: 10rem;
        position:absolute;
        top:-1.60rem;
        left:-1.60rem;
        border-radius: 50%;
        -webkit-transition: all 1s 0.1s ease-in;
    }
    .photo:hover{
        -webkit-transform: rotate(180deg);
    }
    
    h1{
        font-size: 3rem;
        display:flex;
        justify-content: flex-end;
    }
    
    p{
        font-size: 1.8rem;
    }
}



@media only screen and (min-width:47.6rem) {
    
    .card-desktop {
        background: linear-gradient(to bottom right, #7CAFE5,#723C99);
        border-radius: 5%;
        position:relative;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        height: 100%;
        padding: 6%;
        display:flex;
        flex-direction: column;
    }
    .card-tablet{
        display: none;
    }
    .card-mobile{
        display:none;
    }
    
    .photo {
        height:15rem;
        width: 15rem;
        position:absolute;
        top: 1rem;
        margin: 1rem 0;
    }
    
    h1{
        font-size: 4rem;
        letter-spacing: 0.2rem;
    }
    
    p{
        font-size: 3rem;
    }
}